@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    min-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -100px;
}

.logo{
    width: 15%;
    cursor: pointer;
    position: relative;
    border-radius: 50px;
}

ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

ul li a{
    color: #ffffffb7;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
    position: relative;
}

.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

#slideimg{
    width: 100%;
    height: 100%;
}

.slider{
    opacity: 0;
    animation: animated 31s infinite;
}

body{
    background-color: #000;
}

.slider:nth-child(1){
    animation-delay: 0s;
}

.slider:nth-child(2){
    animation-delay: 10s;
}

.slider:nth-child(3){
    animation-delay: 20s;
}

@keyframes animated{
   25%{
       opacity: 1;
   }
   40%{
       opacity: 0;
   }
   
}

.overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
}

ul li a:hover{
    color: #fff;
    transition: 0.3s;
}

.hover-line::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #006400;
    transition: 0.3s;
}

.hover-line:hover::after{
    width: 100%;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.685);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius:125px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
}


form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;   
}

form .far{
    font-size: 18px;
    margin-right: 10px;
}

form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fas{
    font-size: 16px;
    color: #ccc;
}

.social-icon .fab{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
}

.menus{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between; 
}

.menu{
    flex-basis: 25%;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    margin-top: 300px;
}

.foods{
    width: 25%;
    border-radius: 30px;
    cursor: pointer;
}
@media screen and (max-width: 1360px){
   nav{
    margin-top: -70px;
   } 
}

